.bag-page-container {
  padding-top: 9rem; 
 padding-right: 2rem;
  min-height: 100vh;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bag-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  width: auto; 
  justify-content: start; 
  padding-left: 780px; 
  
}

.bag_product {
  background-color: transparent;
  border: 1px solid #0a0f1c;
  padding: 5px;
  width: 120px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bag_product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  
  margin-bottom: 3px;
}

.bag_product h3 {
  font-size: 0.9rem;
  margin: 2px 0;
  color: #0a0f1c;
}

.bag_product p {
  font-size: 0.75rem;
  margin: 2px 0 4px 0;
  color: #0a0f1c;
}

.btns-container {
  display: flex;
  gap: 3px;
  justify-content: center;
}

.btn-custom {
  font-size: 0.6rem;
  padding: 2px 5px;
  background-color: #0a0f1c;
  color: #d2d6da;
  border: 1px solid #0a0f1c;
  border-radius: 3px;
  cursor: pointer;
}

.bag-total {
  position: fixed;
  top: 10px;      
  left: 10px;      
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color: #0a0f1c;
}

@media (max-width: 1024px) {
  .bag-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .bag-list {
    grid-template-columns: 1fr;
  }
}