.about-container {
  max-width: 80000px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 10rem;
  text-align: center;
  color: #001a33; 
  font-family: 'Brush Script MT', cursive, sans-serif; 
  line-height: 1.7;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  min-height: 60vh;       

.about-container h2 {
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.about-container p {
  font-size: 1.2rem;
  
}
}

