
.document-list-container {
  padding-top: 10rem;   
  max-width: 600px;
  margin-left: 500px;     
}

.document_products {
  color: #001a33;       
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
}

.document_products p {
  margin: 0.3rem 0;
  font-size: 1rem;
  line-height: 1.5;
}

.document_products p:nth-child(3) {
  margin-top: 1rem;
  font-weight: 600;
}

